*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: center;
}

header{
    align-items: center;
    display: flex;
    width: fit-content;
    padding: 10px;
    gap: 100px;
}

.title{
    color: #eee;
    font-size: 27pt;
}

.game-board{
    margin: 30px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9px 6px;
}

[class*="letra-"]{
    height: 60px;
    width: 60px;
    background-color: #444;
    color: #eee;
    font-weight: 1000;
    border-radius: 5px;
    text-align: center;
    font-size: 23pt;
    padding: 5px;
}

.highlight{
    border: 3px solid #ddd !important;
}

.invalid{
    border: 3px solid #dc3545!important; 
}

.right{
    background-color: rgb(0, 172, 106) !important;
}

.wrong{
    color: #666  !important;
}

.wrong-place{
    background-color: rgb(201, 171, 0) !important;
}

.keyboard{
    margin: 10px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

[class*="row-"]{
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
}

.tecla{
    height: 60px;
    width: 50px;
    background-color: #555;
    color: #eee;
    font-weight: 750;
    border-radius: 5px;
    text-align: center;
    font-size: 20pt;
    padding: 10px;
    cursor: pointer;
}

.modal-content{
    color: #eee;
    background-color: #333;
    font-size: 13pt;
    font-weight: lighter;
    text-align: justify;
    padding: 15px;
}

.example{
    margin: 20px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9px 6px;
}

.graphic-bar{
    height: 30px;
    background-color: rgb(0, 136, 215);
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
}