*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    text-align: center;
    padding: 8px;
}

.title{
    color: #eee;
    font-size: 27pt;
}

.game-board{
    margin: 30px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9px 6px;
}

.keyboard{
    margin: 10px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

[class*="row-"]{
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
}

.tecla{
    height: 60px;
    width: 50px;
    background-color: #555;
    color: #eee;
    font-weight: 750;
    border-radius: 5px;
    text-align: center;
    font-size: 20pt;
    padding: 13px;
    /* border: 3px solid #888; */
    cursor: pointer;
}

.highlight{
    border: 3px solid #ddd !important; 
}

.invalid{
    border: 3px solid rgb(238, 0, 0) !important; 
}

[class*="letra-"]{
    height: 60px;
    width: 60px;
    background-color: #444;
    color: #eee;
    font-weight: 1000;
    border-radius: 5px;
    text-align: center;
    font-size: 23pt;
    padding: 11px;
}

.right{
    background-color: rgb(0, 172, 106) !important;
}

.wrong{
    color: #666;
}

.wrong-place{
    background-color: rgb(201, 171, 0);
}
